<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.github.komamj.platform.web">

    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <receiver
            android:name=".WebReceiver"
            android:enabled="true"
            android:exported="true"
            android:process=":web">
            <intent-filter>
                <action android:name="${applicationId}.web" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".WebActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:process=":web"
            android:screenOrientation="portrait" />
    </application>

</manifest>